terraform.tfstate
terraform.tfstate.*
.terraform/
.localstack/
tfplan
.terraform/
tfplan
terraform.tfstate
terraform.tfstate.*
.localstack/
.terraform/
tfplan
terraform.tfstate
terraform.tfstate.*
.localstack/
